body {
  background-color: black;
  text-align: center;
  margin-top: 30px;
}

.panel {
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}

.panel:hover {
  /* border: 1px solid red; */
  box-shadow: inset 0px 0px 0px 3px cyan;
  box-sizing: border-box;
}

.bottom-right-panel {
  border-bottom-right-radius: 100%;
  background-color: red;
}

.bottom-left-panel {
  border-bottom-left-radius: 100%;
  background-color: blue;
}
.top-right-panel {
  border-top-right-radius: 100%;
  background-color: green;
}
.top-left-panel {
  border-top-left-radius: 100%;
  background-color: yellow;
}

.active {
  background-color: white;
}

.center {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: black;
  top: 155px;
  left: 560px;
} 
.btn{
     border-radius: 200px;
     position: absolute;
     justify-content: center;
     display: block;
     bottom: -10px;
     right: -10px;
     width: 170px;
     height: 170px;
     
}